@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

a {
    text-decoration: auto !important;
}

element.style {
}

.router-link-active{
    color: black !important;
    font-weight: bold !important;
}
